html{
  scroll-behavior: smooth;
}
body {
  max-width: 100vw;
  width: 98vw;
  height: 100vh;
  background-color: #181A1B;
  /* background-color: #181A1B; */
  caret-color: transparent;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
#cursor{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* border:2px solid red; */
  transition: scale .3s ease;
  z-index: 10;
  pointer-events: none;
}

.grow{
  scale: 5;
  transform-origin: center;
  background-color: #7F27FF;
  mix-blend-mode: difference; 
  border: 0px;
}

.innerdiv:hover .child{
  transform: translateY(0%);
}
.card:hover{
  transform: translateY(5px);
}
.links{
  border: none;
}
.links::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  border-radius: 10px;
  background-color: #7F27FF;
  transition: all ease 0.2s;
}
.links:hover::before{
  width: 100%;
}